@import '../../components/Global/GlobalStyle/variable.scss';
.history {
  border: 1px solid $border-color;
  padding: 10px;
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    h3 {
      font-size: 1.6rem;
      font-weight: 400;
      color: $color-blue;
    }
    span {
      font-size: 1.3rem;
      font-style: italic;
      line-height: 22px;
      color: #000;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        color: $color-blue;
      }
    }
  }
  .content {
    padding: 10px 0;
    border-top: 1px solid $border-color;
  }
}
