@import '../Global/GlobalStyle/variable.scss';
.rank {
  border-left: 1px solid $border-color;
  height: max-content;
  border-bottom: 1px solid $border-color;
  .heading {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    button {
      padding: 12px 0;
      font-size: 1.5rem;
      text-align: center;
      border: none;
      background-color: #ecf0f1;
      border-right: 1px solid $border-color;
      position: relative;
      border-top: 2px solid transparent;
      @include table {
        font-size: 1.3rem;
        padding: 10px 0;
      }
      &.active {
        border-top: 2px solid $color-purple;
        background-color: #f9f9f9;
        &.isToggle {
          border-top-color: $color-red;
          color: $color-yellow;
        }
      }
      &.isToggle {
        color: $color-white;
      }
    }
    .isToggle {
      background-color: #423e3e !important;
    }
  }
  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    // min-height: 720px;
    border-right: 1px solid $border-color;
    .product {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px 0;
      margin: 0 10px;
      border-top: 1px solid $border-color;
      @include table {
        padding: 5px 0;
        margin: 0 5px;
      }

      &:first-child {
        border-top-color: transparent;
        .count {
          color: #3498db !important;
        }
      }
      &:nth-child(2) {
        .count {
          color: #27ae60 !important;
        }
      }
      &:nth-child(3) {
        .count {
          color: #d35400 !important;
        }
      }
      .count {
        padding-left: 10px;
        font-size: 2rem;
        @include table {
          font-size: 1.5rem;
        }
        &.active {
          color: #a3a3a3;
        }
      }
    }
    .product .info {
      display: flex;
      flex: 1;
      gap: 10px;
      .avatar {
        height: 50px;
        min-width: 55px;
        position: relative;
        overflow: hidden;
        @include table {
          height: 45px;
          min-width: 50px;
        }
        img {
          position: absolute;
          width: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .text {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-between;
        h3 {
          font-size: 1.6rem;
          font-weight: 500;
          display: -webkit-box;
          overflow: hidden;
          -webkit-box-orient: vertical;
          cursor: default;
          -webkit-line-clamp: 1;
          @include table {
            font-size: 1.3rem;
          }
          &:hover {
            color: #03f;
          }
          &.active:hover {
            color: $color-red !important;
          }
        }
        .label {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 1.33rem;
          @include table {
            font-size: 1.1rem;
          }
          .chapter {
            cursor: default;
            &:hover {
              color: #03f;
            }
            &.active:hover {
              color: $color-red !important;
            }
          }
          .view {
            display: flex;
            align-items: center;
            gap: 3px;
            font-size: 1.2rem;
            &.active {
              color: #666;
            }
            span {
              font-size: 1.1rem;
              display: -webkit-box;
              overflow: hidden;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              @include table {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
